import this

In [2]:
print("Channabasava") # string always be written in single or dubble inverted comma #

Channabasava

In [3]:
1+2

3

In [4]:
6/4

1.5

In [5]:
256-85

171

In [6]:
22/7

3.142857142857143

Variables are containers for storing data values.
variables are created when you assign a value to it.

In [7]:
a=12 # creating a variable #

In [8]:
a

12

In [9]:
crv = 9200

In [10]:
crv

9200

In [11]:
type(crv)

int

In [12]:
b = "channu"

In [13]:
type(b) # it will give a type of variable #

str

In [14]:
c = 62.1254

In [15]:
type(c)

float

In [16]:
d = 5+6j

In [17]:
d

(5+6j)

In [18]:
type(d)

complex

In [19]:
e = 'channu'

In [20]:
e

'channu'

In [21]:
g = True

In [22]:
type(g)

bool

In [23]:
a = 125

In [24]:
a

125

In [25]:
_a_ = 10

In [26]:
a = 12545              
b = 'channu'
c = 6+7j
d = True
e = 56.32

In [27]:
a

12545

In [28]:
a1 = 10

In [29]:
a+a1

12555

In [30]:
a*a1

125450

In [31]:
a,b,c,d,e = 123,'channu',5+2j,False,12.36

In [32]:
a

123

In [33]:
b

'channu'

In [34]:
c

(5+2j)

In [35]:
d

False

In [36]:
e

12.36

In [37]:
c.imag

2.0

In [38]:
c.real

5.0

In [39]:
a = "channu"

In [40]:
a + 4  # we expect an error if we add str and int #

TypeError: can only concatenate str (not "int") to str

In [41]:
a+'4'    # we can add to str only if we convert int into str #

'channu4'

In [42]:
a+str(4)

'channu4'

In [43]:
str(4)

'4'

In [44]:
True+True     # True can take value 1 and False as 0 #

2

In [45]:
True-False

1

In [46]:
1+True

2

In [47]:
False-True

-1

In [48]:
False-False

0

In [50]:
a = input()

Channabasava wadgave

In [51]:
a = input()

256458965

In [52]:
a         # input data will convert in to str #

'256458965'

In [53]:
b=10

In [54]:
int(a)+b  # converting str to int and them we add with b here #

256458975

In [56]:
str(123) # converting int to str #

'123'

In [57]:
int('123') # converting str to int #

123

In [58]:
a='abcd'
b='efgh'
a+b

'abcdefgh'

In [1]:
a = "channabasava"

In [3]:
type(a)

str

In [4]:
 a[0]

'c'

In [5]:
a[1]

'h'

In [6]:
a[2]

'a'

In [7]:
a[3]

'n'

In [8]:
a[-1]

'a'

In [9]:
a[-2]

'v'

In [10]:
b = "my name is chan"

In [11]:
b[10]

' '

In [12]:
b[15]

IndexError: string index out of range

In [13]:
b[14]

'n'

In [14]:
b[0:10]    #accessing the data by giving range#

'my name is'

In [15]:
b[0:3]

'my '

In [16]:
b = 'ineuron'

In [17]:
b[0:3]

'ine'

In [18]:
b[0:300]   #it will not give error#

'ineuron'

In [19]:
b[300]

IndexError: string index out of range

In [20]:
b[-1:-4]

''

In [21]:
b[0:4]

'ineu'

In [22]:
b[-1:3]

''

In [23]:
a = "kumar"

In [24]:
a[0:200:1]  # here o is my start index, 200 is end index and 1 is jump indexa[]

'kumar'

In [25]:
a[0:200:2] # here jump size is 2, so it will give alternative alphabet

'kmr'

In [26]:
a[0:10:3]

'ka'

In [27]:
a[0:100:-1]

''

In [28]:
a[-1:-4]

''

In [29]:
a[-1:-4:-1]

'ram'

In [30]:
a[0:-10:-1]

'k'

In [31]:
a[-1:-10:-1]

'ramuk'

In [32]:
a[::]

'kumar'

In [34]:
a[:3]

'kum'

In [35]:
a[-2:]

'ar'

In [36]:
a[-5:]

'kumar'

In [37]:
a[-2:-1]

'a'

In [38]:
a[::-1]

'ramuk'

In [39]:
a[-1::-1]

'ramuk'

In [40]:
a = "i am working with ineuron"

In [41]:
a[::-1]

'norueni htiw gnikrow ma i'

In [43]:
a[-1:5:-1]

'norueni htiw gnikro'

In [44]:
'channu'*3

'channuchannuchannu'

In [45]:
'channa'+'basava'

'channabasava'

In [3]:
a='channu'

In [4]:
a[::-1]

'unnahc'

In [47]:
len(a)

25

In [48]:
len[a]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [49]:
a.find('a')

2

In [50]:
a

'i am working with ineuron'

In [51]:
a.find('i') # it will give the first occurences

0

In [52]:
a.find('ia') # it will tell i donot know

-1

In [53]:
a.find('th')

15

In [54]:
a.count('i')  # it will give the repeated number of alphabet

4

In [56]:
b=a.split()

In [57]:
b

['i', 'am', 'working', 'with', 'ineuron']

In [58]:
type(b)

list

In [59]:
b[1]

'am'

In [60]:
b[3]

'with'

In [61]:
b[0:3]

['i', 'am', 'working']

In [63]:
b[0:5]

['i', 'am', 'working', 'with', 'ineuron']

In [64]:
a

'i am working with ineuron'

In [67]:
a.split('wo')

['i am ', 'rking with ineuron']

In [68]:
a

'i am working with ineuron'

In [69]:
a.upper()  #it will convert to upper case

'I AM WORKING WITH INEURON'

In [70]:
s = "sUdH"

In [71]:
s.swapcase()  # it will convert upper to lower and vice-versa

'SuDh'

In [72]:
s.title()

'Sudh'

In [73]:
s.capitalize()

'Sudh'

In [74]:
b = "sudh"
c = "ineuron"

In [76]:
b.join(c)

'isudhnsudhesudhusudhrsudhosudhn'

In [77]:
" ".join("sudh")

's u d h'

In [78]:
reversed("sudh")

In [79]:
for i in reversed("sudh"):
    print(i)

h
d
u
s

In [80]:
s = " channu "

In [81]:
s.lstrip()

'channu '

In [82]:
s.rstrip()

' channu'

In [83]:
s.strip()

'channu'

In [84]:
s = "channu"

In [85]:
s.replace("u","abasava")

'channabasava'

In [86]:
s.replace("i","nsjdhdf")

'channu'

In [91]:
"channa\tbasava".expandtabs()

'channa  basava'

In [88]:
"sudh\tkumar".expandtabs()

'sudh    kumar'

In [92]:
s.center(10,'#')

'##channu##'

In [93]:
s = "channu"

In [94]:
s.isupper()  # it will check whether the given string is uppercase or not

False

In [95]:
s.isspace() # it will check the space

False

In [96]:
s.isdigit()  # it will check the digits in given string

False

In [97]:
s.endswith("u")

True

In [98]:
s.endswith("a")

False

In [99]:
s.istitle()

False

In [100]:
s

'channu'

In [101]:
s.encode()

b'channu'

In [102]:
s.capitalize()

'Channu'

In [103]:
s.upper()

'CHANNU'

In [104]:
l= ["channu", "basava", "5037", "9200"]

In [105]:
type(l)

list

In [106]:
l[0]

'channu'

In [107]:
l[-1]

'9200'

In [109]:
l[-3]

'basava'

In [110]:
l[0:4]

['channu', 'basava', '5037', '9200']

In [111]:
l[0]

'channu'

In [112]:
type(l[0])

str

In [114]:
l[0][0] # it will give the first letter of channu

'c'

In [115]:
l1 = ["channu", "basava", 9200]
l2 = ["vchs", "hsgsuy", 5037]

In [116]:
l1+l2

['channu', 'basava', 9200, 'vchs', 'hsgsuy', 5037]

In [117]:
l1+["kavi"]

['channu', 'basava', 9200, 'kavi']

In [118]:
l1*4

['channu',
 'basava',
 9200,
 'channu',
 'basava',
 9200,
 'channu',
 'basava',
 9200,
 'channu',
 'basava',
 9200]

In [119]:
l1[0]

'channu'

In [120]:
l1[0]="manju"

In [121]:
l1

['manju', 'basava', 9200]

In [122]:
l1[1]

'basava'

In [123]:
l1[1][0]

'b'

In [124]:
l1[1][0]="c"  #string is immutable entity, we cannot change the object in that perticular string

TypeError: 'str' object does not support item assignment

In [125]:
s

'channu'

In [126]:
s.replace('u','a')

'channa'

In [127]:
len(l1)

3

In [128]:
9200 in l1

True

In [129]:
5000 in l1

False

In [133]:
l1.append("crv")

In [134]:
l1

['manju', 'basava', 9200, 'crv']

In [135]:
l1.pop(-1)

'crv'

In [136]:
l1

['manju', 'basava', 9200]

In [137]:
l1.insert(0,"nath")

In [138]:
l1

['nath', 'manju', 'basava', 9200]

In [141]:
l1.insert(0,'hanuma')

In [142]:
l1

['hanuma', 'nath', 'manju', 'basava', 9200]

In [143]:
l1[::-1]

[9200, 'basava', 'manju', 'nath', 'hanuma']

In [144]:
l1.reverse()

In [145]:
l1

[9200, 'basava', 'manju', 'nath', 'hanuma']

In [146]:
l2

['vchs', 'hsgsuy', 5037]

In [149]:
l2.insert(0,[23,24,15,89,56])

In [150]:
l2

[[23, 24, 15, 89, 56], 'vchs', 'hsgsuy', 5037]

In [151]:
l2[0]

[23, 24, 15, 89, 56]

In [152]:
l2[0][2]

15

In [153]:
l2.count('56')

0

In [154]:
l2.count('vchs')

1

In [155]:
l2.append([3,4,5,8,10])

In [156]:
l2

[[23, 24, 15, 89, 56], 'vchs', 'hsgsuy', 5037, [3, 4, 5, 8, 10]]

In [157]:
l2.extend([3,4,5,8,10])

In [158]:
l2

[[23, 24, 15, 89, 56],
 'vchs',
 'hsgsuy',
 5037,
 [3, 4, 5, 8, 10],
 3,
 4,
 5,
 8,
 10]

# Tuples

In [2]:
t = (1,2,3,4,5,6,7,8,9)

In [2]:
type(t)

tuple

In [4]:
t1 = ("channu", 345, 2+6j, 23.3, True)
l = [12.2, 121, "crv", 2+6j, False]

In [5]:
type(t1)

tuple

In [6]:
type(l)

list

In [7]:
t2 = ()

In [8]:
type(t2)

tuple

In [9]:
l[0:2] # slicing should be done with [] in list and also Tuple

[12.2, 121]

In [11]:
t1[0:2]

('channu', 345)

In [12]:
t1[::-1]

(True, 23.3, (2+6j), 345, 'channu')

In [13]:
t1[-1]

True

In [16]:
t1

('channu', 345, (2+6j), 23.3, True)

In [15]:
t1[0::2]

('channu', (2+6j), True)

In [17]:
l1 = [4,5,6,7]

In [18]:
l[0]

12.2

In [21]:
l[0]=10.5 # assignment operation

In [22]:
l

[10.5, 121, 'crv', (2+6j), False]

In [24]:
t1 # in tuple we can access the items but we cannot replace it or re-assign it

('channu', 345, (2+6j), 23.3, True)

In [23]:
t1[0]="basava" # tuples are immutable so it will give error

TypeError: 'tuple' object does not support item assignment

In [25]:
t2 = (10,11,12,13,14,15)

In [27]:
t

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [26]:
t+t2  # append operation

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)

In [28]:
l+l1

[10.5, 121, 'crv', (2+6j), False, 4, 5, 6, 7]

In [3]:
t*2 # will repeat same elements twice

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [4]:
t.count(2)    # if we press tab after t. it will gives the all inbuilt function and count operation will give the total number of same element

1

In [32]:
t.index(5)

4

In [33]:
t = (40,41,42,43,44,(45,46,47),48)

In [34]:
t

(40, 41, 42, 43, 44, (45, 46, 47), 48)

In [35]:
t = ([11,2,3,4],("sd",41,47),"tanj")

In [36]:
t[0]

[11, 2, 3, 4]

In [37]:
t[0][2]=10   # replacing 3 with 10, inside the tuple we have a list so it is allowed to change the element

In [38]:
t

([11, 2, 10, 4], ('sd', 41, 47), 'tanj')

In [39]:
t1 = (5,4,8,9,7,1)

In [40]:
list(t1) # converting the tuple to list

[5, 4, 8, 9, 7, 1]

In [41]:
b = [1,4,5,7,8,3]

In [42]:
tuple(b)  # converting the list into tuple

(1, 4, 5, 7, 8, 3)

# Set
in set we use curly bracket, 
to convert list or tuple to set use function i.e. set(),
set will remove the duplicate elements

In [43]:
s = [1,1,2,4,5,8,7,5,6,4,1,2,3,5,6,8,9,4,1,2,3,5,6,4]

In [46]:
p=set(s)

In [47]:
p

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [48]:
type(p)

set

In [49]:
s={} # if we have an empty set then it will give as dict

In [50]:
type(s)

dict

In [5]:
s2={1,1,1,1,2,3,4,4,5,5,6,6,7,8,9,8,7,6,5,4}

In [6]:
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [53]:
s2[1] #no indexing or slicing operations in set bcz it is an unorderd collection

TypeError: 'set' object is not subscriptable

In [54]:
list(s2) # if we want to access the elements in the set, we have to convert set to list then it is possible, but here we will loose some repeated elements

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
s2.add({11,12,13,14})

TypeError: unhashable type: 'set'

In [7]:
s={(1,2,3,4),(1,2,3,4),4,5,6,7,8}

In [8]:
s

{(1, 2, 3, 4), 4, 5, 6, 7, 8}

In [9]:
s.remove(4)

In [10]:
s

{(1, 2, 3, 4), 5, 6, 7, 8}

In [11]:
s.add(10)

In [12]:
s

{(1, 2, 3, 4), 10, 5, 6, 7, 8}

In [13]:
s.add((11,12))

In [14]:
s

{(1, 2, 3, 4), (11, 12), 10, 5, 6, 7, 8}

In [15]:
s.discard((11,12))

In [16]:
s

{(1, 2, 3, 4), 10, 5, 6, 7, 8}

If the element is not a member, raise a KeyError.

In [17]:
s.remove(45) # t will give error bcz we donot have 45 in set

KeyError: 45

In [6]:
s.discard(45) #If the element is not a member, do nothing

In [7]:
s

{(1, 2, 3, 4), 4, 5, 6, 7, 8}

set is neither mutable nor immutable, it is just an unorderd collection of object

# Dictionary

In [1]:
d = {}

In [2]:
type(d)

dict

here we can store all the values in the form of keys.. key and value pair.

In [8]:
d = {4:"channu"}  # here 4 is key and channu is value

In [2]:
d1 = {"key1":5445,"key2":"sudh",45:[3,4,5,6]}

In [10]:
l=[3,4,5,6,7]

In [3]:
d1

{'key1': 5445, 'key2': 'sudh', 45: [3, 4, 5, 6]}

In [4]:
d1[45]

[3, 4, 5, 6]

In [5]:
d1["key1"]

5445

In [6]:
d1["key2"]

'sudh'

In [14]:
d = {3:["asdf","vbnm",4,5,6,7,7]}

In [8]:
d[3]

['asdf', 'vbnm', 4, 5, 6, 7, 7]

In [22]:
d = {'key':[1,2,3,4,(9,8,7,6)]}

In [23]:
d['key']

[1, 2, 3, 4, (9, 8, 7, 6)]

In [24]:
d1={'key1':[2,3,4,5],'key2':'channu','key1':45}

In [25]:
d1['key1'] # old assignment will mask and it wil take the recent update

45

we cannot create duplicate indices, key is suppose to be unique but there is no restiction in value side(we can create duplicate values)

In [26]:
d = {'name':'channu', 'mob_no':9865989, 'mail_id':'cksdj@jfj', 'key1':(3,4,5,6), 'key2':[1,2,3,4]}

In [27]:
d

{'name': 'channu',
 'mob_no': 9865989,
 'mail_id': 'cksdj@jfj',
 'key1': (3, 4, 5, 6),
 'key2': [1, 2, 3, 4]}

In [28]:
d['key1']

(3, 4, 5, 6)

In [32]:
d['key1'][3]

6

In [29]:
type(d)

dict

In [30]:
d['name']

'channu'

In [33]:
d.keys()

dict_keys(['name', 'mob_no', 'mail_id', 'key1', 'key2'])

In [34]:
d.values()

dict_values(['channu', 9865989, 'cksdj@jfj', (3, 4, 5, 6), [1, 2, 3, 4]])

In [35]:
d.items()

dict_items([('name', 'channu'), ('mob_no', 9865989), ('mail_id', 'cksdj@jfj'), ('key1', (3, 4, 5, 6)), ('key2', [1, 2, 3, 4])])

In [36]:
type(d.items())

dict_items

In [37]:
d={1:'crv',2:[1,2,3,4,5,6]}

In [38]:
d

{1: 'crv', 2: [1, 2, 3, 4, 5, 6]}

In [39]:
d[3]=(1,2,3,4,5)

In [40]:
d

{1: 'crv', 2: [1, 2, 3, 4, 5, 6], 3: (1, 2, 3, 4, 5)}

In [42]:
d[1]='vbnm'

In [43]:
d

{1: 'vbnm', 2: [1, 2, 3, 4, 5, 6], 3: (1, 2, 3, 4, 5)}

In [44]:
del d[1]

In [45]:
d

{2: [1, 2, 3, 4, 5, 6], 3: (1, 2, 3, 4, 5)}

In [46]:
del d  # it will delete entire dictionary

In [47]:
d  # it will give an error bcz d doenot exist now(it is already deleted)

NameError: name 'd' is not defined

In [48]:
d1={'k1':'sudh','k2':[4,5,6,7,8]}

In [52]:
d1[[1,2,3]]='ineuron' # we can cannot create key as list

TypeError: unhashable type: 'list'

In [54]:
d1[(1,2,3)]

'ineuron'

In [55]:
d1

{'k1': 'sudh', 'k2': [4, 5, 6, 7, 8], (1, 2, 3): 'ineuron'}

In [56]:
d1.get()

TypeError: get expected at least 1 argument, got 0

In [58]:
d1.get('k2')

[4, 5, 6, 7, 8]

In [59]:
d1={'k1':'ineuron','key':'fsds'}

In [60]:
d2={'k2':456,'k3':[1,2,3,4,5]}

In [61]:
d1.update(d2) # d1 will get updated

In [62]:
d1

{'k1': 'ineuron', 'key': 'fsds', 'k2': 456, 'k3': [1, 2, 3, 4, 5]}

In [63]:
d2

{'k2': 456, 'k3': [1, 2, 3, 4, 5]}

In [64]:
d1+d2  # in case of dictionary we cannot perform addition

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [66]:
key=('name','mob','id')
value= 'crv',225566,'jdshdg'

In [67]:
d3=d1.fromkeys(key,value)

In [68]:
d3

{'name': ('crv', 225566, 'jdshdg'),
 'mob': ('crv', 225566, 'jdshdg'),
 'id': ('crv', 225566, 'jdshdg')}

# if else and for loop

In [1]:
a=10

In [6]:
if a < 15:
    print("value is lesser")

value is lesser

In [5]:
if a < 15:    # pass is dead code, so it will not give any error
    pass

In [7]:
if 24<15:    # not give any output bcz given condition is false
    print('lesser')

In [8]:
if 10<3:    # if condition is true then it will give first output otherwise it will give the second 
    print('10 is lesser than 3')
else:
    print('10 is greater than 3')

10 is greater than 3

In [11]:
income=100
if income <50:
    print('i will able to buy a phone')
elif income<70:
    print('i will able to buy a car')
elif income<90:
    print('i will able to buy a house')
else:
    print('i will not buy anything')

i will not buy anything

In [12]:
income=int(input())
if income <50:
    print('i will able to buy a phone')
elif income<70:
    print('i will able to buy a car')
elif income<90:
    print('i will able to buy a house')
else:
    print('i will not buy anything')

50
i will able to buy a car

In [14]:
Total_price=int(input())
if Total_price>20000:
    discount=Total_price*0.20
    print("discount will be", discount)
elif Total_price<=7000:
    discount=Total_price*0.05
    print("discount will be", discount)
else:
    print("discount not applicable")

4565
discount will be 228.25

In [15]:
cop="sudh5"
if cop=="sudh5":
    print('get 5% discount')
    paid_amount=7080-7080*0.05
    print('u will b able to get 1neuron with this amount',paid_amount)
else:
    print('invalid cop code')

get 5% discount
u will b able to get 1neuron with this amount 6726.0

In [16]:
cop=input()
if cop=="sudh5":
    print('get 5% discount')
    paid_amount=7080-7080*0.05
    print('u will b able to get 1neuron with this amount',paid_amount)
else:
    print('invalid cop code')

sudh5
get 5% discount
u will b able to get 1neuron with this amount 6726.0

In [18]:
study_hr=int(input())
if study_hr<1:
    print('it may take 8 months to complete')
elif study_hr<4 and study_hr>1:
    print('it may take 6 months to complete')
elif study_hr>10:
    print('it may take 3 months to complete')
else:
    print('it will difficult')

2
it may take 6 months to complete

In [22]:
s=input('enter a string to start')
course=input('enter a course name')
service=input('enter a service name')
if s=='1neuron':
    if course=='dsa':
        print('yes its available under 1neuron')
    elif course=='blockchain':
        print('not available plz raise demand')
    elif course=='fsds':
        print('available')
    else:
        print('raise demand')
elif s=='1neuron services':
    if service =='course request':
        print('it willl avl in 60 days')
    else:
        print('kindly connect with our team')

enter a string to start1neuron
enter a course namefsds
enter a service nameteam
available

In [23]:
s=input('enter a string to start')
service=input('enter a service name')
if s=='1neuron':
    if course=='dsa':
        print('yes its available under 1neuron')
    elif course=='blockchain':
        print('not available plz raise demand')
    elif course=='fsds':
        print('available')
    else:
        print('raise demand')
course=input('enter a course name')
elif s=='1neuron services':
    if service =='course request':
        print('it willl avl in 60 days')
    else:
        print('kindly connect with our team')

enter a string to startineuron
enter a course namechja
enter a service namemsk

For loop, While condition

In [1]:
l=[1,2,3,4,5,6,7] #extracting individual variable
for i in l:
    print(i)

1
2
3
4
5
6
7

In [3]:
l=[1,2,3,4,5,6,7] 
for i in l:
    print(i+1)

2
3
4
5
6
7
8

In [4]:
s='sudh'
for i in s:
    print(i)

s
u
d
h

In [5]:
t=(1,2,3,4,5,6,6)
for i in t:
    print(i)

1
2
3
4
5
6
6

In [6]:
l=[1,4,5.6,4+7j,'sudh']
for i in l:
    print(i)

1
4
5.6
(4+7j)
sudh

In [10]:
l=[1,4,5.6,4+7j,'sudh'] #to find the type of each element we will use for loop 
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [16]:
l=[1,2,3,4]
for i in l:
    print(i+2)

3
4
5
6

In [17]:
l=[1,2,3,4]
l1=[]
for i in l:
    print(i+2)
    l1.append(i+2)

3
4
5
6

In [18]:
l1

[3, 4, 5, 6]

In [19]:
l=[2,45,78,12,'sudh',6+7j,[56,67,78]]

In [20]:
for i in l:        # printing only integer values
    if type(i)==int:
        print(i)

2
45
78
12

In [22]:
for i in l:        # printing only integer values
    if type(i)==int:
        print(i)
    elif type(i)==list:
        for j in i:
            if type(j)==int:
                print(j)

2
45
78
12
56
67
78

In [21]:
for i in l:        
    if type(i)==str:
        print(i)

sudh

In [31]:
l=[2,45,78,12,12,12,12,'sudh',6+7j,[56,67,78,'dsfdsf']]
#q1 . try to print index of all the element 
#q2 . Try to extract all the list of char if element is string 
#q3 . Try to return a list after doing a square of all the int element

In [29]:
range(4)

range(0, 4)

In [32]:
len(l)

10

In [34]:
for i in range(len(l)):  # solution of q1
    print('index',i,'for an element',l[i])

index 0 for an element 2
index 1 for an element 45
index 2 for an element 78
index 3 for an element 12
index 4 for an element 12
index 5 for an element 12
index 6 for an element 12
index 7 for an element sudh
index 8 for an element (6+7j)
index 9 for an element [56, 67, 78, 'dsfdsf']

In [35]:
l

[2, 45, 78, 12, 12, 12, 12, 'sudh', (6+7j), [56, 67, 78, 'dsfdsf']]

In [37]:
for i,j in enumerate(l):  # it will give indexes of each element in the form of tuple
    print(i,j)

0 2
1 45
2 78
3 12
4 12
5 12
6 12
7 sudh
8 (6+7j)
9 [56, 67, 78, 'dsfdsf']

In [38]:
l

[2, 45, 78, 12, 12, 12, 12, 'sudh', (6+7j), [56, 67, 78, 'dsfdsf']]

In [40]:
for i in l:   #q2
    if type(i)==str:
        l1=[]
        for j in i:
            l1.append(j)
        print(l1)

['s', 'u', 'd', 'h']

In [4]:
l=[2,45,78,12,12,12,12,'sudh',6+7j,[56,67,78,'dsfdsf']]
l

[2, 45, 78, 12, 12, 12, 12, 'sudh', (6+7j), [56, 67, 78, 'dsfdsf']]

In [5]:
l2=[]
for i in l:
    if type(i)==int:
        l2.append(i**2)

In [47]:
l2

[4, 2025, 6084, 144, 144, 144, 144]

In [11]:
for i in l:
    if type(i)==str:
        print(i)
    elif type(i)==list:
        for j in i:
            if type(j)==str:
                print(j)

sudh
dsfdsf

# For loop and while loop

In [3]:
l=['name','mail','ph no','address']

In [4]:
for i in l:
    print(i+" Channu")

name Channu
mail Channu
ph no Channu
address Channu

In [5]:
s='ineuron'
for i in s:
    print(i)

i
n
e
u
r
o
n

In [6]:
l

['name', 'mail', 'ph no', 'address']

In [8]:
for i in l:
    print(i)
else:
    print('if for loop is going to complete itself then it will come to else')

name
mail
ph no
address
if for loop is going to complete itself then it will come to else

In [9]:
l

['name', 'mail', 'ph no', 'address']

In [11]:
for i in l:
    if i=='name':
        break
    print(i)
else:
    print('check statement')

In [12]:
for i in l:
    if i=='mail':
        break
    print(i)
else:
    print('check statement')

name

In [13]:
for i in l:
    if i=='ph no':
        break
    print(i)
else:
    print('check statement')

name
mail

In [14]:
for i in l:
    if i=='address':
        break
    print(i)
else:
    print('check statement')

name
mail
ph no

In [15]:
s='sudhansu'
for i in s:
    if i=='n':
        break
else:
    print('dont execute is unless and untill it is not printing my name')

In [17]:
s='sudhansu'
for i in s:
    if i=='z':
        break
else:
    print('dont execute is unless and untill it is not printing my name')

dont execute is unless and untill it is not printing my name

In [18]:
a=1
while a<6:    # if this condition is true then it will execute further
    print(a)
    a=a+1

1
2
3
4
5

In [20]:
a=1
while a<5:
    print(a)
    if a==4:
        break   # break applies if a==4, otherwise it will again goes into the loop
    a=a+1

1
2
3
4

In [2]:
a=1
while a<5:
    print(a)
    if a==3:
        continue
    a=a+1

1
2
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3

KeyboardInterrupt:

In [25]:
a=1
while a<5:
    print(a)
    a=a+1
    if a==3:
        continue

1
2
3
4

In [23]:
a=1
while a<5:
    print(a)
    if a==3:
        break
    a=a+1

1
2
3

In [26]:
while a<5  # we can expect an error

SyntaxError: unexpected EOF while parsing (<ipython-input-26-242a338bf30e>, line 1)

In [27]:
while a<5:
    pass    # if we dont want to execute any fun. then we will write pass

In [28]:
while a<4:
    break

In [ ]:
while a<4:
    continue # it will go in to infinite loop

In [29]:
range(6)

range(0, 6)

In [30]:
 list(range(6))

[0, 1, 2, 3, 4, 5]

In [31]:
range(5,15)

range(5, 15)

In [32]:
list(range(5,15))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [34]:
list(range(23,253,23))

[23, 46, 69, 92, 115, 138, 161, 184, 207, 230]

In [35]:
list(range(3,10,-1))

[]

In [37]:
list(range(-3,-10,-2))

[-3, -5, -7, -9]

In [40]:
list(range(10,6,-1))

[10, 9, 8, 7]

In [42]:
list(range(10,-6,-2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [45]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [48]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print('* ', end = '')
    print('\r')

*
* *
* * *
* * * *
* * * * *

In [55]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print('crv ', end = '')
    print('\r')      # \r used to remove the gap

crv
crv crv
crv crv crv
crv crv crv crv
crv crv crv crv crv

In [56]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print('crv ', end = '')
    print('\n') # create a one line gap

crv

crv crv

crv crv crv

crv crv crv crv

crv crv crv crv crv

In [57]:
l=[1,2,3,4,5,6,6,6,7,78]
for i in l:
    print(i)

1
2
3
4
5
6
6
6
7
78

In [61]:
t=tuple(l)
for i in t:
    print(i)

1
2
3
4
5
6
6
6
7
78

In [62]:
t

(1, 2, 3, 4, 5, 6, 6, 6, 7, 78)

In [63]:
t[::-1]

(78, 7, 6, 6, 6, 5, 4, 3, 2, 1)

In [65]:
for i in range(len(t),0,-1):
    print(t[i])

IndexError: tuple index out of range

In [66]:
for i in range(len(t)-1,0,-1):
    print(t[i])

78
7
6
6
6
5
4
3
2

In [67]:
for i in range(len(t)-1,-1,-1):
    print(t[i])

78
7
6
6
6
5
4
3
2
1

In [71]:
d={'a':'fsds','b':'channu','c':[1,2,3,4],'d':(4,5,6,7)}

In [73]:
for i in d:
    print(i)

a
b
c
d

In [76]:
for i in d:
    print(i,d[i])

a fsds
b channu
c [1, 2, 3, 4]
d (4, 5, 6, 7)

In [77]:
for i in d.items():
    print(i)

('a', 'fsds')
('b', 'channu')
('c', [1, 2, 3, 4])
('d', (4, 5, 6, 7))

In [78]:
s={89,89,89,8956,45,45,6,3,2,1,4,4,56}

In [79]:
s

{1, 2, 3, 4, 6, 45, 56, 89, 8956}

In [82]:
for i in s:
    print(i)

1
2
3
4
6
45
56
89
8956

In [84]:
s= {3,546,56,56,56,5,66,7,67,6,7,3,43,534,53,5,7}

In [85]:
for i in s:
    print(i)

66
546
3
5
67
7
6
43
53
534
56

In [1]:
s="this is basic python class"
len(s)

26

In [2]:
# we can count the no.of letters without using len function
count=0
for i in s:
    count=count+1
print(count)

26

In [3]:
# another way of  counting the no.of letters without using len function
count=0
for i in s:
    count+=1
print(count)

26

In [4]:
s[::-1]

'ssalc nohtyp cisab si siht'

In [6]:
# writing in reverse order without using slicing operation
for i in range(len(s)-1,-1,-1):
    print(s[i])

s
s
a
l
c

n
o
h
t
y
p

c
i
s
a
b

s
i

s
i
h
t

In [9]:
# writing in reverse order without using slicing and for loop operation
i=len(s)-1
while(i>=0):
    print(s[i],end='')
    i=i-1

ssalc nohtyp cisab si siht

In [12]:
s="ineuron"
v="AaEeIiOoUu"
for i in s:
    if i in v:
        print(i,'is vowel')
    else:
        print(i,'is not vowel')

i is vowel
n is not vowel
e is vowel
u is vowel
r is not vowel
o is vowel
n is not vowel

In [14]:
s="Aairavat"
v="AaEeIiOoUu"
for i in s:
    if i in v:
        print(i,'is vowel')
    else:
        print(i,'is not vowel')

A is vowel
a is vowel
i is vowel
r is not vowel
a is vowel
v is not vowel
a is vowel
t is not vowel

In [19]:
u in "sudh"

NameError: name 'u' is not defined

In [20]:
'u' in 'sudh'

True

In [27]:
a=input()
b=a[::-1]
if a==b:
    print(a,"is pallindrome")
else:
    print(a,"is not pallindrome")

malayalam
malayalam is pallindrome

In [25]:
a=input()
b=a[::-1]
if a==b:
    print(a,"is pallindrome")
else:
    print(a,"is not pallindrome")

channu
channu is not polindrome

In [26]:
# another way
a=input()
if a==a[::-1]:
    print(a,'is pallindrome')
else:
    print(a,"is not pallindrome")

eye
eye is pallindrome

In [2]:
d={'india':'IN',
  'canada':'CA',
  'china':'CH',
  'united states':'US',
  }

In [30]:
'india' in d

True

In [3]:
for i in d:
    print(i)

india
canada
china
united states

In [4]:
l_greater=[]
l_smaller=[]
for i in d:
    if len(i)<=5:
        l_smaller.append(i)
    else:
        l_greater.append(i)

In [5]:
l_greater

['canada', 'united states']

In [6]:
l_smaller

['india', 'china']

In [7]:
d={'ineuron':{
               'a':14,
                'b':10,
                'c':4
              },
   
    'course':{
                 'd':45,
                'e':34,
                'f':1
                }
  }

In [9]:
# printing maximum value 
l=[]
for i in d.values():
    for j in i.values():
        l.append(j)
    print(max(l))

14
45

In [20]:
# printing maximum value in another way
for i in d.values():
    print(max(i.values()))

14
45

In [22]:
d

{'ineuron': {'a': 14, 'b': 10, 'c': 4}, 'course': {'d': 45, 'e': 34, 'f': 1}}

In [34]:
d1={'ineuron': {'a': 14, 'b': 10, 'c': 4}, 
    'course': {'d': 45, 'e': 34, 'f': 1},
    'g':34, 'h':[45,6,7,8,9,3], 'i':(45,34,2), 'k':'sudh'}

In [39]:
# printing a maximum value
l1=[]
for i in d1.values():
    if type(i)==dict:
        l1.append(max(i.values()))
    elif type(i)==list:
        l1.append(max(i))
    elif type(i)==tuple:
        l1.append(max(i))
    elif type(i)== str:
        pass
    else:
        l1.append(i)
print(max(l1))

45

In [43]:
# printing a maximum value in another way
for i in d1.values():
    if type(i) == int:
        l.append(i)
    elif type(i) == list or type(i) == tuple:
        l.extend(i)
    elif type(i) == dict:
        for j in i.values():
            l.append(j)
print(max(l))

45

# Function

## 23-Dec-2021 ##

In [1]:
len('sudh')   # here len is a function

4

In [2]:
print('kfheokw')  # here print is a function

kfheokw

In [3]:
def test():   # def with the name test i.e we nomenclated the function with the name "test"
    pass

In [4]:
def test():
    print('this is my first class')

In [5]:
test()

this is my first class

In [6]:
def crv():    # here crv is function name
    print('data science')

In [10]:
crv

In [11]:
crv()

data science

In [18]:
a=test()

this is my first class

In [19]:
a+'sudh'

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [20]:
'channa'+'basava'

'channabasava'

In [30]:
def test():
    print('this is my first class')

In [21]:
type(test())    # type of fuction is none type

this is my first class

NoneType

In [22]:
str(a)

'None'

In [23]:
def test2():
    return 'this is my first class'

In [36]:
test2()

'this is my first class'

In [35]:
type(test2)

function

In [26]:
type(test2())  # it will give the type of variable if write return function instead print function

str

In [28]:
def test3():
    return 2885566

In [29]:
type(test3())

int

In [31]:
def test4():
    return 4,3,'sudh',[1,2,3,4]

In [32]:
test4()

(4, 3, 'sudh', [1, 2, 3, 4])

In [33]:
type(test4())

tuple

In [37]:
b=test4() # assigning a variable

In [38]:
b

(4, 3, 'sudh', [1, 2, 3, 4])

In [39]:
type(b)

tuple

In [40]:
b[1]

3

In [43]:
b[3]

[1, 2, 3, 4]

In [44]:
b[3][3]

4

In [45]:
a=1
b=5
c='sudh'
d=[1,2,3,4,5]

In [46]:
a,b,c,d=3,5,'crv',[1,2,5,8]

In [48]:
a,b,c,d=test4()

In [54]:
print(a)
print(b)
print(c)
print(d)

4
3
sudh
[1, 2, 3, 4]

In [55]:
def test5():
    a=6*7/6
    return a

In [56]:
test5()

7.0

In [57]:
l=[3,4,5,6,7,7,'sudh',[1,3,4,54,56]]

In [64]:
def test6(a):
    n=[]
    if type(a)==list:
        for i in a:
            if type(i)==int:
                n.append(i)
    return n

In [70]:
test6()

TypeError: test6() missing 1 required positional argument: 'a'

In [71]:
test6(l)

[3, 4, 5, 6, 7, 7]

In [72]:
type(test6(l))

list

In [73]:
# take a dictionary and extract keys
def test8(c):
    if type(c)==dict:
        return c.keys()
    else:
        return 'you have not passed a dict'

In [74]:
test8('fsddf')

'you have not passed a dict'

In [75]:
test8({'a':'dsfs','b':2356,'c':[4,5,76,78]})

dict_keys(['a', 'b', 'c'])

In [76]:
# take a dictionary and extract values
def test8(c):
    if type(c)==dict:
        return c.values()
    else:
        return 'you have not passed a dict'

In [77]:
test8({'a':'dsfs','b':2356,'c':[4,5,76,78]})

dict_values(['dsfs', 2356, [4, 5, 76, 78]])

In [78]:
def test9(a,b):
    if type(a)==list and type(b)==list:
        return a.extend(b)
    else:
        return 'either of your data is not a list'

In [84]:
test9(2424)

TypeError: test9() missing 1 required positional argument: 'b'

In [81]:
test9(2424,'sudh')

'either of your data is not a list'

In [82]:
test9([2,3,4,5],[7,8,9,6])

In [85]:
a=[2,3,4,5]
b=[7,8,9,6]
test9(a,b)

In [86]:
a

[2, 3, 4, 5, 7, 8, 9, 6]

In [87]:
def test9(a,b):
    if type(a)==list and type(b)==list:
        a.extend(b)
        return a
    else:
        return 'either of your data is not a list'

In [89]:
n=test9([2,3,4,5],[7,8,9,6])

In [90]:
n

[2, 3, 4, 5, 7, 8, 9, 6]

In [104]:
# create a function which is going to print triangle
def triangle(n):
    if type(n)==int:
        for i in range(0,n):
            for j in range(0,i+1):
                print(' * ', end='')
            print('\n')

In [107]:
triangle(6)

 *

 *  *

 *  *  *

 *  *  *  *

 *  *  *  *  *

 *  *  *  *  *  *

# # 8-jan-2022 ##

In [1]:
# create a function, which can take multiple arguments(inputs)
def test(a,b,c,d,e):
    return a,b,c,d,e

In [2]:
test(45,46,47,48,49)

(45, 46, 47, 48, 49)

In [7]:
def test1(*args): # here args is not a reserve key word
    return args # args is not a statndard keyword, we can use any keyword instead args

In [8]:
test1(45,46,47)

(45, 46, 47)

In [9]:
test1(45,46,'sudg,45.33')

(45, 46, 'sudg,45.33')

In [10]:
test1([1,2,3,4],(1,2,3,4),'jygf',65+5j)

([1, 2, 3, 4], (1, 2, 3, 4), 'jygf', (65+5j))

In [11]:
def test2(*sudh):  # we can use sudh as reserve instead of args
    return sudh

In [12]:
test2('shgdg',454,'2565',36.36)

('shgdg', 454, '2565', 36.36)

In [16]:
def test3(*crv,a): # *args used to pass n no.of variables in it
    return crv,a

In [17]:
test3(34,35,36)

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [18]:
test3(34,35,36,a=9200)

((34, 35, 36), 9200)

In [19]:
def test4(*sudh,a,b,c,d):
    return sudh,a,b,c,d

In [20]:
test4(35,56,78,a=[2,5,6,8],b=(1,2,3,40),c='sgdg',d=23.32)

((35, 56, 78), [2, 5, 6, 8], (1, 2, 3, 40), 'sgdg', 23.32)

In [21]:
def test3(a,*sudh):
    return sudh,a

In [22]:
test3('sgdh',2,3,6,5,8)

((2, 3, 6, 5, 8), 'sgdh')

In [23]:
def test3(a,*sudh):
    return a,sudh

In [24]:
test3('sgdh',2,3,6,5,8)

('sgdh', (2, 3, 6, 5, 8))

In [25]:
def test4(a,*sudh,b,c):
    return a,sudh,b,c

In [27]:
test4('gdgh',[1,2,3,5,6],2,5,6,8,9,7,b=200,c=300)

('gdgh', ([1, 2, 3, 5, 6], 2, 5, 6, 8, 9, 7), 200, 300)

In [29]:
test4('gdgh',[1,2,3,5,6],[2,5],[6,8,9,7])

TypeError: test4() missing 2 required keyword-only arguments: 'b' and 'c'

In [30]:
test4('gdgh',[1,2,3,5,6],2,5,6,8,9,7,b=200,c=300)

('gdgh', ([1, 2, 3, 5, 6], 2, 5, 6, 8, 9, 7), 200, 300)

In [31]:
def test6(*args):     # extracting only list
    for i in args:
        if type(i)==list:
            return i

In [32]:
test6(4,5,6,[2,3,5],{4,5,6,8})

[2, 3, 5]

In [36]:
test6(4,5,6,8,9,10,[1,2,5,6,7],[8,9,8,9,8,7])

[1, 2, 5, 6, 7]

In [39]:
def test6(*args):  # changes made to extract all the lists
    l=[]
    for i in args:
        if type(i)==list:
            l.append(i)
    return l

In [40]:
test6(4,5,6,8,9,10,[1,2,5,6,7],[8,9,8,9,8,7])

[[1, 2, 5, 6, 7], [8, 9, 8, 9, 8, 7]]

In [41]:
d={'a':[2,3,5,6],6:[5,6,8,9]}

In [42]:
d['a']

[2, 3, 5, 6]

In [43]:
# in case of *args we can pass n no.of inputs
# in case of **kwargs we can pass key pair/key-values as an input
# we can use any name instead of **kwargs  (bcz it is not a standard one)
def test7(**kwargs):
    return kwargs

In [45]:
test7(1,5,6,5,8,9) 
# it will give an error bcz we didnot passed/enterd key-value pair

TypeError: test7() takes 0 positional arguments but 6 were given

In [46]:
test7(a=45,b=[2,4,5,8],c={7,8,'dhfg'})

{'a': 45, 'b': [2, 4, 5, 8], 'c': {7, 8, 'dhfg'}}

In [1]:
def test8(**crv):
    return crv

In [2]:
test8(b=78,g=56,k=[56,89,88,77])

{'b': 78, 'g': 56, 'k': [56, 89, 88, 77]}

In [3]:
def test9(**crv):
    return crv

In [5]:
test9(name='sudh',age='31',ph='123564',mail='jsgdf@kek')

{'name': 'sudh', 'age': '31', 'ph': '123564', 'mail': 'jsgdf@kek'}

In [7]:
test9(name='sudh',age='31',ph='123564',mail='jsgdf@kek',address='ifh')

{'name': 'sudh',
 'age': '31',
 'ph': '123564',
 'mail': 'jsgdf@kek',
 'address': 'ifh'}

In [9]:
def test10(a,**crv):
    return crv,a

In [10]:
test10(45,65,98,78)

TypeError: test10() takes 1 positional argument but 4 were given

In [13]:
test10(45,w=65,b=98,c=78,d=10,e=78)

({'w': 65, 'b': 98, 'c': 78, 'd': 10, 'e': 78}, 45)

In [14]:
def test11(a,**crv,*args):
    return a,crv,args
# we expect an error bcz we cannot use single and double staric at a time

SyntaxError: invalid syntax (<ipython-input-14-7db348feb50f>, line 1)

In [15]:
def test12(a,*args,**kwargs):
    return a,args,kwargs
# it can work if we write a code in sequentially

In [16]:
test12(45,78,98,6,5,8,9,4,g=4565,w=789)

(45, (78, 98, 6, 5, 8, 9, 4), {'g': 4565, 'w': 789})

Now we will not give the name to a function
we will create a anonymous function

In [17]:
def test13(a,b):
    return a*b

In [18]:
test13(12,12)

144

In [19]:
lambda a,b:a*b

In [20]:
a=lambda a,b:a*b

In [21]:
a(10,5)

50

In [23]:
b=lambda a,b:(a*b,a+b)

In [24]:
b(10,5)

(50, 15)

In [25]:
c=lambda *c:c

In [28]:
c(15,25,35) # it will give tuple type

(15, 25, 35)

In [30]:
x=lambda *a:a*a
#tuple multiplication not possible

In [31]:
x(10,5,2)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [32]:
x=lambda x:[i for i in x]

In [33]:
x([4,5,6,6])

[4, 5, 6, 6]

In [35]:
a= lambda **kwargs:kwargs

In [37]:
a(a=45,b=56,c='crv',d=(1,2,3,4))

{'a': 45, 'b': 56, 'c': 'crv', 'd': (1, 2, 3, 4)}

In [38]:
a=10
def test16(c,d):
    return c*d

In [39]:
test16(a,50)
# here c is assigned as a and value of a is 10

500

In [43]:
a=10
def test16(c,d):
    c=5
    return c*d

In [46]:
test16(a,50)

250

In [47]:
a

10

comprehension  operation

In [48]:
l=[1,2,3,4,56,78,88]
l1=[]
for i in l:
    l1.append(i+2)

In [49]:
l1

[3, 4, 5, 6, 58, 80, 90]

In [52]:
def test17(a):
    l1=[]
    for i in a:
        l1.append(i+2)
    return l1

In [53]:
test17(l)

[3, 4, 5, 6, 58, 80, 90]

In [54]:
a=lambda a:[i+2 for i in a]

In [55]:
a(l)

[3, 4, 5, 6, 58, 80, 90]

In [56]:
l

[1, 2, 3, 4, 56, 78, 88]

In [57]:
[i+2 for i in l]

[3, 4, 5, 6, 58, 80, 90]

In [58]:
[i**2 for i in l]

[1, 4, 9, 16, 3136, 6084, 7744]

In [59]:
[(i**2,i+i) for i in l]

[(1, 2), (4, 4), (9, 6), (16, 8), (3136, 112), (6084, 156), (7744, 176)]

In [60]:
[(i**2,i+i) for i in l if i<4]

[(1, 2), (4, 4), (9, 6)]

In [61]:
l1=[]
for i in l:
    if i<4:
        l1.append((i**2,i+i))

In [62]:
l1

[(1, 2), (4, 4), (9, 6)]

Dictionary comprehension

In [63]:
d={1:1,2:4,3:9}

In [64]:
{i:i**2for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [70]:
d1={}
for i in range(10):
    d1[i]=i**2

In [71]:
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Tuple comprehension

In [73]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

Iterator and generator

In [74]:
a=56
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [77]:
s='channu'
for i in s:
    print(i)
# str is a iterable object

c
h
a
n
n
u

In [80]:
next(s)
# string is iterable object but not iterator

TypeError: 'str' object is not an iterator

iterable is the one we can access the variable with the help of index value.
iterator is one which will give the next element every time(element which can access in sequential manner)

In [82]:
b=iter(s)
# iter function convert iterable to iterator

In [83]:
b

In [84]:
next(b)

'c'

In [85]:
next(b)

'h'

In [86]:
next(b)

'a'

In [87]:
next(b)

'n'

In [88]:
next(b)

'n'

In [89]:
next(b)

'u'

In [90]:
s='fsds'
for i in s:
    print(i)

f
s
d
s

In [93]:
q=iter(s)

In [94]:
next(q)

'f'

In [95]:
next(q)

's'

In [96]:
next(q)

'd'

In [97]:
next(q)

's'

In [98]:
next(q)

StopIteration:

In [99]:
l=[1,2,3,4]

In [101]:
next(l)

TypeError: 'list' object is not an iterator

In [100]:
a=iter(l)

In [102]:
next(a)

1

In [103]:
next(a)

2

In [104]:
next(a)

3

In [105]:
next(a)

4

In [106]:
next(a)

StopIteration:

Generator function

In [1]:
l=[1,2,3,4,5]

In [2]:
next(l)

TypeError: 'list' object is not an iterator

In [3]:
l1=iter(l)

In [4]:
next(l1)

1

In [5]:
next(l1)

2

In [6]:
next(l1)

3

In [1]:
a=56

In [2]:
next(a)

TypeError: 'int' object is not an iterator

In [4]:
a=iter(a)

TypeError: 'int' object is not iterable

In [5]:
t=(1,2,3,4,5)

In [6]:
next(t)

TypeError: 'tuple' object is not an iterator

In [7]:
t=iter(t)

In [8]:
next(t)

1

In [9]:
next(t)

2

In [10]:
next(t)

3

In [11]:
next(t)

4

In [19]:
r=range(6)

In [20]:
for i in r:
    print(i)
# range is iterable object but not an iterator

0
1
2
3
4
5

In [14]:
next(r)

TypeError: 'range' object is not an iterator

In [15]:
r=iter(r)

In [16]:
next(r)

0

In [17]:
next(r)

1

Generator: as name suggest generator is that can produce something. it is the one which can hold the information or a logic of previous data set

In [23]:
list(range(0,45,3))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42]

In [28]:
def gencube(n):
    for i in range(n):
        return n**3

In [29]:
gencube(3)

27

In [30]:
gencube(5)

125

In [31]:
def gencube(n):
    l=[]
    for i in range(n):
        l.append(i**3)
    return l

In [32]:
gencube(10)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [33]:
def gencube(n):
    for i in range(n):
        yield i**3
# yield is inbuilt function which can hold the just previous information, logic and where do stop

In [34]:
gencube(10)

In [36]:
for i in gencube(9):
    print(i)

0
1
8
27
64
125
216
343
512

In [44]:
# generate fibonocci series
def fib(n):
    a=1
    b=1
    for i in range(n):
        yield a,i
        a,b=b,a+b

In [45]:
for i in fib(10):
    print(i)

(1, 0)
(1, 1)
(2, 2)
(3, 3)
(5, 4)
(8, 5)
(13, 6)
(21, 7)
(34, 8)
(55, 9)

In [48]:
fib(10)

In [51]:
def fib1(n):
    a=1
    b=1
    l=[]
    for i in range(n):
        l.append(a)
        a,b=b,a+b
    return l

In [52]:
fib1(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

## File System

In [53]:
print('something in console')

something in console

In [59]:
f=open('test1.txt','w')

In [56]:
pwd()
# present working directory

'C:\\Users\\Agstat Lab\\Desktop\\Practice notes'

In [57]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [60]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is CA6B-E6D7

 Directory of C:\Users\Agstat Lab\Desktop\Practice notes

01/22/2022  04:19 PM    <DIR>          .
01/22/2022  04:19 PM    <DIR>          ..
01/21/2022  06:16 PM    <DIR>          .ipynb_checkpoints
01/22/2022  04:18 PM           639,387 4th Dec 2021-Class.ipynb
01/22/2022  04:15 PM                 0 test.txt
01/22/2022  04:19 PM                 0 test1.txt
               3 File(s)        639,387 bytes
               3 Dir(s)  159,665,655,808 bytes free

In [63]:
f.write('ifhywego wkiguowklghiowigoH')

27

In [64]:
f.close()

In [1]:
%%writefile test2.txt
this is a data i would like to store

Writing test2.txt

In [2]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is CA6B-E6D7

 Directory of C:\Users\Agstat Lab\Desktop\Practice notes

01/22/2022  07:15 PM    <DIR>          .
01/22/2022  07:15 PM    <DIR>          ..
01/21/2022  06:16 PM    <DIR>          .ipynb_checkpoints
01/22/2022  07:14 PM           639,986 4th Dec 2021-Class.ipynb
01/22/2022  04:15 PM                 0 test.txt
01/22/2022  04:22 PM                27 test1.txt
01/22/2022  07:15 PM                36 test2.txt
               4 File(s)        640,049 bytes
               3 Dir(s)  159,689,773,056 bytes free

In [4]:
f=open('test2.txt')

In [5]:
f.read()

'this is a data i would like to store'

In [6]:
f.write('eiufhwifwefwif')

UnsupportedOperation: not writable

In [7]:
f.read()

''

In [9]:
f.seek(5)
# it wull help to reset the cursor

5

In [10]:
f.read()

'is a data i would like to store'

In [11]:
f.seek(0)

0

In [12]:
f.read()

'this is a data i would like to store'

In [13]:
f.tell()

36

In [14]:
f.seek(5)

5

In [15]:
f.tell()
# it will tell where is the cursor location

5

In [17]:
f=open('test2.txt','r+')

In [19]:
f.read()

'this is a data i would like to store'

In [20]:
f.readline()

''

In [21]:
f.tell()

36

In [23]:
f.seek(0)

0

In [24]:
f.readline()

'this is a data i would like to store'

In [25]:
f=open('google.txt','w')

In [27]:
f.write()

TypeError: write() argument must be str, not int