In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("ineuron.db")

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1E31-9995

 Directory of C:\Users\Guru Basava\Desktop\ineuron\Practice notes

06-03-2022  23:27    <DIR>          .
06-03-2022  23:27    <DIR>          ..
06-03-2022  21:38    <DIR>          .ipynb_checkpoints
27-01-2022  18:11    <DIR>          __pycache__
07-02-2022  15:29            11,903 glass.data
22-01-2022  19:36                 0 google.txt
06-03-2022  22:38             8,192 ineuron.db
06-03-2022  22:58            12,288 joindb.db
06-03-2022  23:17             8,720 joindb.db-journal
06-03-2022  21:30            10,354 MongoDB.ipynb
26-01-2022  15:33               224 my_module.py
27-01-2022  18:03                 0 mydict
27-01-2022  18:06               615 mydict.py
06-03-2022  22:35             8,192 person.db
05-02-2022  14:05            98,140 Practice 2.ipynb
01-02-2022  15:48           265,124 Practice-01.ipynb
09-02-2022  17:53           212,115 SQL practice.ipynb
06-03-2022  23:27            28,885 sqllite.ipynb
24-01-2022  19:14            13,193 Task 1.ipynb
27-01-2022  18:02                 0 test 1.py
25-01-2022  15:58               342 test.log
24-01-2022  17:47                18 test.txt
24-01-2022  22:38                22 test1.txt
25-01-2022  16:11               436 test2.log
26-01-2022  15:01               136 test2.py
22-01-2022  19:15                36 test2.txt
25-01-2022  16:32             4,532 test3.log
26-02-2022  10:15                72 Untitled1.ipynb
              24 File(s)        683,539 bytes
               4 Dir(s)  163,133,526,016 bytes free

In [5]:
c=db.cursor()

In [6]:
c.execute('create table fsds(name text, batchid int, marks real)')

In [7]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1E31-9995

 Directory of C:\Users\Guru Basava\Desktop\ineuron\Practice notes

07-03-2022  11:03    <DIR>          .
07-03-2022  11:03    <DIR>          ..
06-03-2022  21:38    <DIR>          .ipynb_checkpoints
27-01-2022  18:11    <DIR>          __pycache__
07-02-2022  15:29            11,903 glass.data
22-01-2022  19:36                 0 google.txt
07-03-2022  11:03             8,192 ineuron.db
06-03-2022  22:58            12,288 joindb.db
06-03-2022  23:17             8,720 joindb.db-journal
06-03-2022  21:30            10,354 MongoDB.ipynb
26-01-2022  15:33               224 my_module.py
27-01-2022  18:03                 0 mydict
27-01-2022  18:06               615 mydict.py
06-03-2022  22:35             8,192 person.db
05-02-2022  14:05            98,140 Practice 2.ipynb
01-02-2022  15:48           265,124 Practice-01.ipynb
09-02-2022  17:53           212,115 SQL practice.ipynb
07-03-2022  11:02            29,670 sqllite.ipynb
24-01-2022  19:14            13,193 Task 1.ipynb
27-01-2022  18:02                 0 test 1.py
25-01-2022  15:58               342 test.log
24-01-2022  17:47                18 test.txt
24-01-2022  22:38                22 test1.txt
25-01-2022  16:11               436 test2.log
26-01-2022  15:01               136 test2.py
22-01-2022  19:15                36 test2.txt
25-01-2022  16:32             4,532 test3.log
26-02-2022  10:15                72 Untitled1.ipynb
              24 File(s)        684,324 bytes
               4 Dir(s)  163,138,494,464 bytes free

In [8]:
c.execute("insert into fsds values('sudh',112233,454.67)")

In [9]:
c.execute("insert into fsds values('sudh',112233,354.67)")
c.execute("insert into fsds values('sudh',112233,454.67)")
c.execute("insert into fsds values('sudh',112233,464.67)")
c.execute("insert into fsds values('sudh',112233,474.67)")
c.execute("insert into fsds values('sudh',112233,484.67)")
c.execute("insert into fsds values('sudh',112233,494.67)")

In [10]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1E31-9995

 Directory of C:\Users\Guru Basava\Desktop\ineuron\Practice notes

07-03-2022  11:03    <DIR>          .
07-03-2022  11:03    <DIR>          ..
06-03-2022  21:38    <DIR>          .ipynb_checkpoints
27-01-2022  18:11    <DIR>          __pycache__
07-02-2022  15:29            11,903 glass.data
22-01-2022  19:36                 0 google.txt
07-03-2022  11:03             8,192 ineuron.db
07-03-2022  11:03             4,616 ineuron.db-journal
06-03-2022  22:58            12,288 joindb.db
06-03-2022  23:17             8,720 joindb.db-journal
06-03-2022  21:30            10,354 MongoDB.ipynb
26-01-2022  15:33               224 my_module.py
27-01-2022  18:03                 0 mydict
27-01-2022  18:06               615 mydict.py
06-03-2022  22:35             8,192 person.db
05-02-2022  14:05            98,140 Practice 2.ipynb
01-02-2022  15:48           265,124 Practice-01.ipynb
09-02-2022  17:53           212,115 SQL practice.ipynb
07-03-2022  11:02            29,670 sqllite.ipynb
24-01-2022  19:14            13,193 Task 1.ipynb
27-01-2022  18:02                 0 test 1.py
25-01-2022  15:58               342 test.log
24-01-2022  17:47                18 test.txt
24-01-2022  22:38                22 test1.txt
25-01-2022  16:11               436 test2.log
26-01-2022  15:01               136 test2.py
22-01-2022  19:15                36 test2.txt
25-01-2022  16:32             4,532 test3.log
26-02-2022  10:15                72 Untitled1.ipynb
              25 File(s)        688,940 bytes
               4 Dir(s)  163,138,486,272 bytes free

In [11]:
data=c.execute("select * from fsds")

In [12]:
for i in data:
    print(i)

('sudh', 112233, 454.67)
('sudh', 112233, 354.67)
('sudh', 112233, 454.67)
('sudh', 112233, 464.67)
('sudh', 112233, 474.67)
('sudh', 112233, 484.67)
('sudh', 112233, 494.67)

In [14]:
db.commit()

In [15]:
db.close()    # to close databases

In [16]:
db=sqlite3.connect('ineuron.db')

In [17]:
c=db.cursor()

In [18]:
data=c.execute("select * from fsds where marks >400")

In [19]:
for i in data:
    print(i)

('sudh', 112233, 454.67)
('sudh', 112233, 454.67)
('sudh', 112233, 464.67)
('sudh', 112233, 474.67)
('sudh', 112233, 484.67)
('sudh', 112233, 494.67)

In [20]:
data=c.execute("select * from fsds where name='sudh'")

In [21]:
for i in data:
    print(i)

('sudh', 112233, 454.67)
('sudh', 112233, 354.67)
('sudh', 112233, 454.67)
('sudh', 112233, 464.67)
('sudh', 112233, 474.67)
('sudh', 112233, 484.67)
('sudh', 112233, 494.67)

In [22]:
data=c.execute("select name, marks from fsds")

In [23]:
for i in data:
    print(i)

('sudh', 454.67)
('sudh', 354.67)
('sudh', 454.67)
('sudh', 464.67)
('sudh', 474.67)
('sudh', 484.67)
('sudh', 494.67)

In [24]:
data=c.execute("select name, marks from fsds order by marks")

In [25]:
for i in data:
    print(i)

('sudh', 354.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 464.67)
('sudh', 474.67)
('sudh', 484.67)
('sudh', 494.67)

In [26]:
db.commit()

In [27]:
db.close()

In [28]:
db=sqlite3.connect("person.db")

In [29]:
c=db.cursor()

In [30]:
c.execute("create table person_table(name text,mailid text,age int,salary real)")

OperationalError: table person_table already exists

In [31]:
c.execute("insert into person_table values('sudh','sudh@ineuron.ai',45,25000)")
c.execute("insert into person_table values('krish','krish@ineuron.ai',46,26000)")
c.execute("insert into person_table values('channu','channu@ineuron.ai',24,60000)")
c.execute("insert into person_table values('sarv','sarv@ineuron.ai',25,80000)")

In [32]:
data=c.execute("select * from person_table")

In [33]:
for i in data:
    print(i)

('sudh', 'sudh@ineuron.ai', 45, 25000.0)
('krish', 'krish@ineuron.ai', 46, 26000.0)
('channu', 'channu@ineuron.ai', 24, 60000.0)
('sarv', 'sarv@ineuron.ai', 25, 80000.0)
('sudh', 'sudh@ineuron.ai', 45, 25000.0)
('krish', 'krish@ineuron.ai', 46, 26000.0)
('channu', 'channu@ineuron.ai', 24, 60000.0)
('sarv', 'sarv@ineuron.ai', 25, 80000.0)

In [34]:
db.commit()

In [35]:
db.close

In [36]:
db=sqlite3.connect('ineuron.db') # again connecting to the old database

In [37]:
c=db.cursor()

In [38]:
c.execute('drop table fsds') # deleting table from database

In [39]:
c.execute('select * from fsds')

OperationalError: no such table: fsds

In [40]:
db.close()

In [41]:
db=sqlite3.connect('person.db')

In [42]:
c=db.cursor()

In [43]:
data=c.execute('select * from person_table limit 2')

In [44]:
for i in data:
    print(i)

('sudh', 'sudh@ineuron.ai', 45, 25000.0)
('krish', 'krish@ineuron.ai', 46, 26000.0)

In [45]:
db.close()

In [46]:
db=sqlite3.connect('joindb.db')

In [47]:
c=db.cursor()

In [48]:
c.execute('create table student(student_id int,name text, mailid text,marks int)')

OperationalError: table student already exists

In [78]:
c.execute('create table adress(student_id int,pincode int,location text,nearby text,phone_no int)')

In [49]:
c.execute("insert into student values(100,'audh','audh@ineuron.ai',200)")
c.execute("insert into student values(101,'budh','budh@ineuron.ai',201)")
c.execute("insert into student values(102,'cudh','cudh@ineuron.ai',202)")
c.execute("insert into student values(103,'dudh','dudh@ineuron.ai',203)")
c.execute("insert into student values(104,'eudh','eudh@ineuron.ai',204)")
c.execute("insert into student values(105,'fudh','fudh@ineuron.ai',205)")
c.execute("insert into student values(106,'gudh','gudh@ineuron.ai',206)")
c.execute("insert into student values(107,'hudh','hudh@ineuron.ai',207)")
c.execute("insert into student values(108,'iudh','iudh@ineuron.ai',208)")
c.execute("insert into student values(109,'judh','judh@ineuron.ai',209)")
c.execute("insert into student values(110,'kudh','kudh@ineuron.ai',210)")
c.execute("insert into student values(111,'mudh','mudh@ineuron.ai',211)")

In [50]:
c.execute("insert into adress values(100 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(101 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(102 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(103 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(104 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(23654 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(235345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(23665 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(23609 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(23632 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(23698 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into adress values(23690 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")

In [51]:
for i in c.execute("select * from adress"):
    print(i)

(100, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(101, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(102, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(103, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(104, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23654, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(235345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23665, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23609, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23632, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23698, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23690, 560034, 'whitefelid', 'ineuron office ', 2423543454353)

In [52]:
for i in c.execute("select * from student"):
    print(i)

(100, 'audh', 'audh@ineuron.ai', 200)
(101, 'budh', 'budh@ineuron.ai', 201)
(102, 'cudh', 'cudh@ineuron.ai', 202)
(103, 'dudh', 'dudh@ineuron.ai', 203)
(104, 'eudh', 'eudh@ineuron.ai', 204)
(105, 'fudh', 'fudh@ineuron.ai', 205)
(106, 'gudh', 'gudh@ineuron.ai', 206)
(107, 'hudh', 'hudh@ineuron.ai', 207)
(108, 'iudh', 'iudh@ineuron.ai', 208)
(109, 'judh', 'judh@ineuron.ai', 209)
(110, 'kudh', 'kudh@ineuron.ai', 210)
(111, 'mudh', 'mudh@ineuron.ai', 211)

In [53]:
data = c.execute("select * from student s left join adress a on s.student_id=a.student_id ")

In [54]:
for i in data:
    print(i)

(100, 'audh', 'audh@ineuron.ai', 200, 100, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(101, 'budh', 'budh@ineuron.ai', 201, 101, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(102, 'cudh', 'cudh@ineuron.ai', 202, 102, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(103, 'dudh', 'dudh@ineuron.ai', 203, 103, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(104, 'eudh', 'eudh@ineuron.ai', 204, 104, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(105, 'fudh', 'fudh@ineuron.ai', 205, None, None, None, None, None)
(106, 'gudh', 'gudh@ineuron.ai', 206, None, None, None, None, None)
(107, 'hudh', 'hudh@ineuron.ai', 207, None, None, None, None, None)
(108, 'iudh', 'iudh@ineuron.ai', 208, None, None, None, None, None)
(109, 'judh', 'judh@ineuron.ai', 209, None, None, None, None, None)
(110, 'kudh', 'kudh@ineuron.ai', 210, None, None, None, None, None)
(111, 'mudh', 'mudh@ineuron.ai', 211, None, None, None, None, None)

In [ ]:
where a.student_id is not null

In [56]:
data = c.execute("select * from student s right join adress a on s.student_id=a.student_id ")
# rightjoin and full join not available in sqllite

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [57]:
data = c.execute("select * from adress s left join student a on s.student_id=a.student_id ")

In [58]:
for i in data:
    print(i)

(100, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 100, 'audh', 'audh@ineuron.ai', 200)
(101, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 101, 'budh', 'budh@ineuron.ai', 201)
(102, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 102, 'cudh', 'cudh@ineuron.ai', 202)
(103, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 103, 'dudh', 'dudh@ineuron.ai', 203)
(104, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 104, 'eudh', 'eudh@ineuron.ai', 204)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23654, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(235345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23665, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23609, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23632, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23698, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23690, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)

In [59]:
for i in c.execute("select * from student"):
    print(i)

(100, 'audh', 'audh@ineuron.ai', 200)
(101, 'budh', 'budh@ineuron.ai', 201)
(102, 'cudh', 'cudh@ineuron.ai', 202)
(103, 'dudh', 'dudh@ineuron.ai', 203)
(104, 'eudh', 'eudh@ineuron.ai', 204)
(105, 'fudh', 'fudh@ineuron.ai', 205)
(106, 'gudh', 'gudh@ineuron.ai', 206)
(107, 'hudh', 'hudh@ineuron.ai', 207)
(108, 'iudh', 'iudh@ineuron.ai', 208)
(109, 'judh', 'judh@ineuron.ai', 209)
(110, 'kudh', 'kudh@ineuron.ai', 210)
(111, 'mudh', 'mudh@ineuron.ai', 211)

In [60]:
c.execute('delete from student where student_id >105')

In [61]:
for i in c.execute("select * from student"):
    print(i)

(100, 'audh', 'audh@ineuron.ai', 200)
(101, 'budh', 'budh@ineuron.ai', 201)
(102, 'cudh', 'cudh@ineuron.ai', 202)
(103, 'dudh', 'dudh@ineuron.ai', 203)
(104, 'eudh', 'eudh@ineuron.ai', 204)
(105, 'fudh', 'fudh@ineuron.ai', 205)

In [62]:
data=c.execute("select * from student")

In [63]:
data.fetchall()

[(100, 'audh', 'audh@ineuron.ai', 200),
 (101, 'budh', 'budh@ineuron.ai', 201),
 (102, 'cudh', 'cudh@ineuron.ai', 202),
 (103, 'dudh', 'dudh@ineuron.ai', 203),
 (104, 'eudh', 'eudh@ineuron.ai', 204),
 (105, 'fudh', 'fudh@ineuron.ai', 205)]

In [64]:
c.execute("update student set student_id=1000 where student_id=103")

In [65]:
data=c.execute('select * from student')
data.fetchall()

[(100, 'audh', 'audh@ineuron.ai', 200),
 (101, 'budh', 'budh@ineuron.ai', 201),
 (102, 'cudh', 'cudh@ineuron.ai', 202),
 (1000, 'dudh', 'dudh@ineuron.ai', 203),
 (104, 'eudh', 'eudh@ineuron.ai', 204),
 (105, 'fudh', 'fudh@ineuron.ai', 205)]

In [66]:
db.close()

## SQLLITE map, reduce and filter

In [79]:
l=[1,2,3,4,5,6]

In [80]:
l1=[]
for i in l:
    l1.append(i+5)
# this is how we will write a code to incriment with 5 using for loop

In [81]:
l1

[6, 7, 8, 9, 10, 11]

In [82]:
[i+5 for i in l]
# another way of writing a code using for loop

[6, 7, 8, 9, 10, 11]

In [83]:
def test(a):
    return a+5

In [84]:
list(map(test,l))

[6, 7, 8, 9, 10, 11]

In [85]:
def test1(a):
    return a*100+256

In [86]:
list(map(test1,l))

[356, 456, 556, 656, 756, 856]

In [87]:
l1=['234','345','543','5435','543','5435']
# it is in the form of str, but we want it to integer

In [89]:
def test2(a):
    return int(a)

In [90]:
test2('5435')

5435

In [91]:
list(map(test2,l1))
# here we can convert entire string into integer

[234, 345, 543, 5435, 543, 5435]

In [92]:
list(map(lambda x:int(x),l1 ))
# using lambda function also we can convert entire string in a list into integer

[234, 345, 543, 5435, 543, 5435]

In [93]:
list(map(lambda x:x+5,l))

[6, 7, 8, 9, 10, 11]

In [95]:
l3=[4,5,6,7,78,8,78]
#filter operation, print only even number

In [96]:
def test4(a):
    if a%2==0:
        return a

In [98]:
[i for i in l if i%2==0]

[4, 6, 78, 8, 78]

In [99]:
list(map(test4,l3)) # using map function

[4, None, 6, None, 78, 8, 78]

In [101]:
# using filter operation
list(filter(test4,l3))

[4, 6, 78, 8, 78]

In [102]:
list(filter(lambda x:x%2==0,l3))
# using filter and lambda function

[4, 6, 78, 8, 78]

In [103]:
### reduce function ###

In [105]:
from functools import reduce

In [106]:
l=[3,4,5,6,7,3,8]

In [107]:
sum(l)
## reduce operation using sum in simple way

36

In [108]:
def test5(a,b):
    return a+b

In [109]:
reduce(test5,l)

36

In [110]:
def test5(a,b):
    return a*b

In [111]:
reduce(test5,l)

60480

In [112]:
l=[3]

In [113]:
reduce(test5,l)
# it works if list conatin one element also

3

In [114]:
l=[]

In [115]:
reduce(test5.l)
# it will give an error, atleast one element require

AttributeError: 'function' object has no attribute 'l'

In [117]:
l=[1,2,3,4,5]
reduce(lambda x,y:x+y,l)

15

In [119]:
## Zip ##

In [122]:
l1=[1,2,3,4,5]
l2=[4,5,6,7,8]
l3=['sudh','channu','krish','sah','guru']

In [124]:
list(zip(l1,l2,l3))

[(1, 4, 'sudh'),
 (2, 5, 'channu'),
 (3, 6, 'krish'),
 (4, 7, 'sah'),
 (5, 8, 'guru')]

In [125]:
l4=[1,2,3]
l5=[4,5,6,7,8]
l6=['sudh','channu','krish','sah','guru']

In [126]:
list(zip(l4,l5,l6))

[(1, 4, 'sudh'), (2, 5, 'channu'), (3, 6, 'krish')]